.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: .75rem;
}
